/target/
!.mvn/wrapper/maven-wrapper.jar
**/target/
**/allure-results/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Allure reports ###
.allure/


### Gradle

.gradle/

**/build/

/http-requests/rest-client.private.env.json

/src/main/resources/certs/**

### macOS template
.DS_Store

